{% extends 'base.html' %}
{% load crispy_forms_tags %} {% block title %}
    الدفع للأمر رقم {{ order.order_id }} 💰
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h2 class="mb-4 text-center">
               complate payment ID:  {{ order.order_id }}
                </h2>

                {% if order %}
                <div class="card p-3 mb-4 bg-light">
                    <p class="mb-1">**إجمالي الفاتورة:** **${{ order.get_total_cost|floatformat:2 }}**</p>
                    <p class="mb-0 text-muted">الرجاء إدخال بيانات الدفع.</p>
                </div>
                {% endif %}

                <div class="card p-4 shadow">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-success btn-lg">
                                ادفع الآن
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}